<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <!-- the targets to write to -->
  <targets>
    
    <target name="DbLogOwn" xsi:type="Database" connectionString="${var:conString}">
      <commandText>
        insert into YouKPI.log.NLogOwn (
        Application, Logged, Level, Message,[User], Callsite, IP
        ) values (
        @Application, @Logged, @Level, @Message, @User, @Callsite, @IP
        );
      </commandText>

      <parameter name="@application" layout="YouKPI" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@User" layout ="${aspnet-user-identity}"/>
      <parameter name="@Callsite" layout ="${callsite}|line-${callsite-linenumber}"/>
      <parameter name="@IP" layout ="${aspnet-request-ip}"/>
    </target>
    
    <target name="DbLogAsp" xsi:type="Database" connectionString="${var:conString}">
      <commandText>
        insert into YouKPI.log.NLogAsp (
        Application, Logged, Level, Message, Url, [User],[STATUS_CODE], IP
        ) values (@Application, @Logged, @Level, @Message, @Url, @User,@StatusCode, @IP);
      </commandText>
      <parameter name="@application" layout="YouKPI" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@Url" layout ="method: ${aspnet-request-method} |${aspnet-request-url}| controller: ${aspnet-mvc-controller}|action: ${aspnet-mvc-action}| status: ${aspnet-response-statuscode}"/>
      <parameter name="@StatusCode" layout="${aspnet-response-statuscode}"></parameter>
      <parameter name="@User" layout ="${aspnet-user-identity}"/>
      <parameter name="@IP" layout ="${aspnet-request-ip}"/>
    </target>

    <target name="DbLogAll" xsi:type="Database" connectionString="${var:conString}">
      <commandText>
        insert into YouKPI.log.NLogAllErrors (
        Application, Logged, Level, Message,
        Exception, [User], Callsite, IP
        ) values (
        @Application, @Logged, @Level, @Message,
        @Exception, @User, @Callsite, @IP
        );
      </commandText>

      <parameter name="@application" layout="YouKPI" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@User" layout ="${aspnet-user-identity}"/>
      <parameter name="@Callsite" layout ="${callsite}|line-${callsite-linenumber}"/>
      <parameter name="@exception" layout="${exception:tostring}" />
      <parameter name="@IP" layout ="${aspnet-request-ip}"/>
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Info" writeTo="DbLogAll" />
    <logger name="YouKpiBackend.*" minlevel="Info" writeTo="DbLogOwn" />
    <logger name="Microsoft.AspNetCore.Hosting.*" minlevel="Info" writeTo="DbLogAsp" />
    <!--<logger name="Microsoft.AspNetCore.Routing.Matching.*" minlevel="Info" writeTo="DbLogAsp" />-->

    <!--<logger name="Microsoft.AspNetCore.Mvc.Internal.MvcCoreLoggerExtensions.*" minlevel="Info" writeTo="DbLogAsp" />
    <logger name="Microsoft.AspNetCore.Hosting.Internal.*" minlevel="Info" writeTo="DbLogAsp" />-->

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <!-- BlackHole without writeTo -->
  </rules>
</nlog>
